<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stone.shop.dao.mapper.bank.IBankMapper">
	<resultMap type="com.stone.shop.domain.bank.BankEntity" id="bank">
		<result property="id" column="id" />
		<result property="code" column="code" />
		<result property="name" column="name" />
		<result property="payType" column="pay_type" />
		<result property="rate" column="rate" />
		<result property="isDebit" column="is_debit" />
		<result property="isCredit" column="is_credit" />
		<result property="isEnterpise" column="is_enterpise" />
		<result property="logoPath" column="logo_path" />
		<result property="webSite" column="web_site" />
		<result property="remark" column="remark" />
		<result property="dispalyOrder" column="dispaly_order" />
		<result property="isActive" column="is_active"/>
	</resultMap>

    <insert id="insertBank" parameterType="com.stone.shop.domain.bank.BankEntity">
			<![CDATA[insert into PAY_BANK( id,code,name,pay_type,rate,is_debit,is_credit,is_enterpise,logo_path,web_site,remark,dispaly_order,is_active )
						values(#{id},#{code},#{name},#{payType,jdbcType=INTEGER},#{rate},#{isDebit,jdbcType=INTEGER},
						#{isCredit,jdbcType=INTEGER},#{isEnterpise,jdbcType=INTEGER},#{logoPath,jdbcType=VARCHAR},#{webSite,jdbcType=VARCHAR},#{remark},#{dispalyOrder},#{isActive,jdbcType=INTEGER})
			]]>
	</insert>

	<select id="getBank" parameterType="com.stone.shop.domain.persistent.QueryCondition"
		resultMap="bank">
		<![CDATA[select ${selectColumn} from PAY_BANK t where id=#{condition.id}]]>
	</select>

	<update id="updateBank" parameterType="com.stone.shop.domain.bank.BankEntity">
		<![CDATA[
			update PAY_BANK set is_active = #{isActive},pay_type=#{payType,jdbcType=INTEGER},rate=#{rate},is_debit=#{isDebit,jdbcType=INTEGER},is_credit=#{isCredit,jdbcType=INTEGER},is_enterpise=#{isEnterpise,jdbcType=INTEGER},logo_path=#{logoPath,jdbcType=VARCHAR},web_site=#{webSite},remark=#{remark,jdbcType=VARCHAR} where id=#{id}
		]]>
	</update>

	<delete id="deleteBank" parameterType="java.lang.String">
		<![CDATA[
			delete PAY_BANK where id = #{id}
		]]>
	</delete>

	<select id="getBanksByPayType" parameterType="com.stone.shop.domain.persistent.QueryCondition" resultMap="bank">
		<![CDATA[select t2.code,t2.rate,t.pay_type,t.name,t.is_debit,t.is_credit,t.logo_path from PAY_BANK t,
       	(select distinct min(t2.rate) as rate, t2.code as code from PAY_BANK t2 where t2.is_active = 1 ]]>
       	<include refid="query_condition"/>
       <![CDATA[ group by t2.code) t2 where t.code = t2.code and t.rate = t2.rate and t.is_active = 1 ]]>
		<include refid="query_condition"/>
		<![CDATA[ order by t.dispaly_order asc]]>
	</select>

	<sql id="query_condition">
		<if test="condition.isDebit!=null and condition.isDebit!=''"><![CDATA[ and is_debit=#{condition.isDebit}]]></if>
		<if test="condition.isCredit!=null and condition.isCredit!=''"><![CDATA[ and is_credit=#{condition.isCredit}]]></if>
		<if test="condition.id!=null and condition.id!=''"><![CDATA[ and id=#{condition.id}]]></if>
		<if test="condition.code!=null and condition.code!=''"><![CDATA[ and code=#{condition.code}]]></if>
		<if test="condition.name!=null and condition.name!=''"><![CDATA[ and name like '%'||#{condition.name}||'%' ]]></if>
		<if test="condition.payType!=null and condition.payType!=''"><![CDATA[ and pay_type=#{condition.payType}]]></if>
		<if test="condition.model!=null and condition.model!=''"><![CDATA[ and t2.code!=#{condition.model}]]></if>
	</sql>

    <select id="countBanks" parameterType="com.stone.shop.domain.persistent.QueryCondition"
            resultType="java.lang.Long">
        <![CDATA[select count(*) from PAY_BANK t where 1=1 ]]>
        <include refid="query_condition"/>
    </select>

    <select id="queryBanks" parameterType="com.stone.shop.domain.persistent.QueryCondition"
            resultMap="bank">
        <![CDATA[select * from (select t.*,rownum rn from(select ${selectColumn} from PAY_BANK t where 1=1]]>
        <include refid="query_condition"/>
        <![CDATA[ order by t.dispaly_order asc) t]]>
        <if test="condition.maxnum!=null and condition.maxnum!=''"><![CDATA[where rownum<=#{condition.maxnum}]]></if>
        <![CDATA[)]]>
        <if test="condition.minnum!=null and condition.minnum!=''"><![CDATA[where rn>=#{condition.minnum}]]></if>
    </select>
</mapper>