<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stone.shop.dao.mapper.merchant.IMerchantTypeMapper">
	<resultMap type="com.stone.shop.domain.merchant.MerchantTypeEntity" id="type">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="is_active" column="is_active" />
		<result property="show_pic" column="show_pic" />
	</resultMap>

    <insert id="insertMerchantType" parameterType="com.stone.shop.domain.merchant.MerchantTypeEntity">
			<![CDATA[insert into merchant_type(id,name,is_active,show_pic)
						values(#{id},#{name},#{is_active,jdbcType=INTEGER},#{show_pic,jdbcType=VARCHAR})
			]]>
	</insert>

	<select id="getMerchantType" parameterType="com.stone.shop.domain.persistent.QueryCondition"
		resultMap="type">
		<![CDATA[select ${selectColumn} from merchant_type t where id=#{condition.id}]]>
	</select>

	<update id="updateMerchantType" parameterType="com.stone.shop.domain.merchant.MerchantTypeEntity">
		<![CDATA[
			update merchant_type set name = #{name},is_active=#{is_active,jdbcType=INTEGER},show_pic=#{show_pic,jdbcType=VARCHAR} where id=#{id}
		]]>
	</update>

	<delete id="deleteMerchantType" parameterType="java.lang.String">
		<![CDATA[
			delete from  merchant_type where id = #{id}
		]]>
	</delete>

    <select id="countMerchantType" parameterType="com.stone.shop.domain.persistent.QueryCondition"
            resultType="java.lang.Long">
        <![CDATA[select count(*) from merchant_type t where 1=1 ]]>
        <if test="condition.is_active!=null and condition.is_active!=''"><![CDATA[ and is_active =#{condition.is_active}]]></if>
    </select>

    <select id="queryMerchantType" parameterType="com.stone.shop.domain.persistent.QueryCondition"
            resultMap="type">
        <![CDATA[select ${selectColumn} from merchant_type  where 1=1 ]]>
        <if test="condition.is_active!=null and condition.is_active!=''"><![CDATA[ and is_active =#{condition.is_active}]]></if>
        <if test="condition.maxnum!=null and condition.maxnum!='' and condition.minnum!=null and condition.minnum!=''"><![CDATA[limit #{condition.minnum},#{condition.maxnum}]]></if>
    </select>
</mapper>